@import './reset';
body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  margin-top: 20px;
  font-family: cursive;
}

#quiz-container {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#question-text {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
  font-family: fantasy;
}


#options-list {
  list-style-type: none;
  padding: 0;

  li {
    font-family: cursive;
    width: 300px;
    min-height: 25px;
    margin: 10px auto !important;
    background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
    margin: 10px 0;
    padding: 12px;
    background-color: #0074D9;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.8s ease-in-out;

    &:hover {
      background-color: #0056b3;
      filter: hue-rotate(-500deg);
    }
  }  
}


.second {
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
}


.button-question {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #555;
  }  
}

#result-container {
  display: none;
  margin-top: 20px;
  font-size: 18px;
}

#result-text {
  color: #333;
}

.hidden {
  display: none;
}

#result-questions {
  text-align: start;
  font-family: cursive;
  margin: 20px auto;
  width: 80%;
  h2 {
    font-size: 30px;
    color: red;
    margin-top: 40px;
  }

  li {
    list-style: none;
    font-size: 25px;
    padding: 5px;
  }
  li.correct {
    background-color: #37B14A;
  }

  li.uncorrect {
    background-color: #ce412e;
  }
}

@media screen and (max-width: 768px) {
  #quiz-container {
    padding: 10px;
  }

  #question-text {
    font-size: 28px;
    margin-bottom: 10px;
  }

  #options-list li {
    font-size: 30px;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    min-height: 80px;
    text-align: center;
  }

  .button-question {
      width: 90%;
      height: 50px;
      font-size: 25px;
      margin-top: 1px;
  }

  
  #result-questions {
    width: 90% !important;
  }
}
